<!DOCTYPE html>
<html>
  <head>
    <title>Codecurious</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
    <main>
      <% if current_user.present? %>
        <div><%= render "layouts/nav_bar" %></div>
      <% end %>
      <%#= render 'layouts/genki_nav' %>
      <div class="container p-8"><%= yield %></div>
    </main>
  </body>
</html>
